body {
  font-family: Georgia, "Times", serif;
  font-size: 18px;
  text-transform: uppercase;;
  /*background-color: #6599FF; */
}

nav{
  background-color: #6599FF; 
  overflow: hidden; 
}

#content {
  size: auto;
}

#background-img {
  content: url("../images/worldmap.png");
  width: 100%; 
  height: 100%;
}

#topbarleft {
  float: left; 
  margin: 5px;
}

#topbarright {
  margin: 5px;
  float: right; 
}

footer {
  text-align: center;
}

.slideout-menu {
  position: fixed;
  vertical-align: bottom;
  margin-top:30px;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  /* Fallback for web browsers that don't support RGBa */
  background-color: rgb(101, 153, 255);
  /* RGBa with 0.5 opacity */
  background-color: rgba(101, 153, 255, 0.5);
  z-index: 100;
}

.slideout-menu .slideout-menu-toggle {
  position: absolute;
  top: 12px;
  right: 10px;
  display: inline-block;
  padding: 6px 9px 5px;
  vertical-align: top;
}

.slideout-menu li {
  margin: 20px;
}

.slideout-menu label {
  margin-right: 30px;
}

.slideout-menu input {
  width: 30xp;
}
.slideout-menu .slideout-menu-toggle:hover {
  color: #fff;
}

footer {
  text-transform: none;
}